:root {
    --tool-size: 15px;
    --tool-color: #000;
    --canvas_padding: 50px;
}

body {
    margin: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #000000;
    user-select: none;
    overflow: hidden;
}

.toolBar {
    position: fixed;
    top: 50%;
    left: 10px;
    background-color: #f2f2f2;
    border: 1px solid #4da6ff;
    border-radius: 5px;
    z-index: 5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transform: translateY(-50%);
}

.tool_btn, #color {
    margin: 5px;
    border: none;
    padding: 3px;
    width: 45px;
    height: 45px;
    border-radius: 30%;
}

#color {
    padding: 0px;
}

.tool_btn img {
    width: 100%;
    user-drag: none;
    -webkit-user-drag: none;
}

.tool_btn:hover {
    background-color: #92a5fb;
}

.slider {
    transform: rotate(-90deg);
    width: 100px;
    height: 100px;
    margin-left: -50px;
    margin-right: -50px;
}

.canvas_container {
    top: max(calc(50vh - 1024px - var(--canvas_padding)), 0px);
    position: relative;
    margin: auto;
    width: 2048px;
    height: 2048px;
    padding: var(--canvas_padding);
    background-color: #151515;
    overflow: hidden;
}

canvas {
    position: absolute;
    top: var(--canvas_padding);
    left: var(--canvas_padding);
}


#canvas {
    background-color: rgb(184, 184, 184);
    background-size: 50px 50px;
    background-image:
        linear-gradient(to right, rgb(140, 140, 140) var(--grid-width), transparent 1px),
        linear-gradient(to bottom, rgb(140, 140, 140) var(--grid-width), transparent 1px);
}

#custom-cursor {
    position: absolute;
    width: var(--tool-size);
    height: var(--tool-size);
    background: url('../img/cursor/eraser.svg');
    background-size: contain;
    pointer-events: none;
    transform: translate(-50%, -50%);
}

.player_prof {
    pointer-events: none;
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 20px;
    font-weight: bolder;
    transition: all 0.3s ease-out;
}

.player_prof img {
    width: 60px;
    height: 60px;
    border: 4px solid #000;
    border-radius: 100%;
    border-top-left-radius: 5%;
    overflow: hidden;
}