:root {
    --tool-size: 15px;
    --tool-color: #000;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #e6f7ff;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #333;

    background-color: rgb(184, 184, 184);
    background-size: 50px 50px;
    background-image:
    linear-gradient(to right, rgb(105, 105, 105) 1px, transparent 1px),
    linear-gradient(to bottom, rgb(105, 105, 105) 1px, transparent 1px);
    user-select: none;
}

#playersList {
    position: fixed;
    left: 0;
    top: 0;
    width: 220px;
    height: 100vh;
    background-color: #cceeff;
    padding: 10px;
    overflow-y: auto;
    border-right: 2px solid #4da6ff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

#playersList.open {
    transform: translateX(0);
}

#closePlayerList, #openPlayerList {
    position: fixed;
    left: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    background-color: #4da6ff;
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#closePlayerList {
    display: none;
}

#closePlayerList:hover, #openPlayerList:hover {
    background-color: #003d99;
}

.toolBar {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #f2f2f2;
    border: 1px solid #4da6ff;
    padding: 8px;
    width: 220px;
    border-radius: 5px;
    z-index: 5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

canvas{
    position: absolute;
}

#custom-cursor {
    position: absolute;
    width: var(--tool-size);
    height: var(--tool-size);
    background: url('../img/cursor/eraser.svg');
    background-size: contain;
    pointer-events: none;
    transform: translate(-50%, -50%);
}

.player_prof{
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 20px;
    font-weight: bolder;
    transition: all 0.3s ease-out;
}
.player_prof img{
    width: 60px;
    height: 60px;
    border: 4px solid #000;
    border-radius: 100%;
    border-top-left-radius: 5%;
    overflow: hidden;
}